src/main/resources/course-details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://access/management" xmlns:tns="http://access/management"
	elementFormDefault="qualified">

	<!-- AppGroupResponse  -->
	<xs:complexType name="AppGroupResponse">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="isActive" type="xs:boolean" />
			<xs:element name="isSystemGroup" type="xs:boolean" />
			<xs:element name="createdBy" type="xs:int" />
			<xs:element name="updatedBy" type="xs:int" />
			<xs:element name="createdAt" type="xs:dateTime" />
			<xs:element name="updatedAt" type="xs:dateTime" />
			<xs:element name="customAttribute1" type="xs:string" />
			<xs:element name="customAttribute2" type="xs:string" />
			<xs:element name="customAttribute3" type="xs:string" />
			<xs:element name="customAttribute4" type="xs:string" />
			<xs:element name="customAttribute5" type="xs:string" />
			<xs:element name="customAttribute6" type="xs:string" />
			<xs:element name="customAttribute7" type="xs:string" />
			<xs:element name="customAttribute8" type="xs:string" />
			<xs:element name="customAttribute9" type="xs:string" />
			<xs:element name="customAttribute10" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- AppGroup Get all  -->
	<xs:element name="AppGroupGetAllRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppGroupGetAllResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppGroup" type="tns:AppGroupResponse"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppGroup Get  -->
	<xs:element name="AppGroupGetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppGroupGetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppGroup" type="tns:AppGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppGroup Delete  -->
	<xs:element name="AppGroupDelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppGroupDelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppGroup Post  -->
	<xs:element name="AppGroupPostRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="description" type="xs:string" />
				<xs:element name="isActive" type="xs:boolean" />
				<xs:element name="isSystemGroup" type="xs:boolean" />
				<xs:element name="createdBy" type="xs:int" />
				<xs:element name="updatedBy" type="xs:int" />
				<xs:element name="createdAt" type="xs:dateTime" />
				<xs:element name="updatedAt" type="xs:dateTime" />
				<xs:element name="customAttribute1" type="xs:string" />
				<xs:element name="customAttribute2" type="xs:string" />
				<xs:element name="customAttribute3" type="xs:string" />
				<xs:element name="customAttribute4" type="xs:string" />
				<xs:element name="customAttribute5" type="xs:string" />
				<xs:element name="customAttribute6" type="xs:string" />
				<xs:element name="customAttribute7" type="xs:string" />
				<xs:element name="customAttribute8" type="xs:string" />
				<xs:element name="customAttribute9" type="xs:string" />
				<xs:element name="customAttribute10" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppGroupPostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppGroup" type="tns:AppGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppGroup Put  -->
	<xs:element name="AppGroupPutRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppGroup" type="tns:AppGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppGroupPutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppGroup" type="tns:AppGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- AppRoleResponse  -->
	<xs:complexType name="AppRoleResponse">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="isActive" type="xs:boolean" />
			<xs:element name="isSystemRole" type="xs:boolean" />
			<xs:element name="createdBy" type="xs:int" />
			<xs:element name="updatedBy" type="xs:int" />
			<xs:element name="createdAt" type="xs:dateTime" />
			<xs:element name="updatedAt" type="xs:dateTime" />
			<xs:element name="customAttribute1" type="xs:string" />
			<xs:element name="customAttribute2" type="xs:string" />
			<xs:element name="customAttribute3" type="xs:string" />
			<xs:element name="customAttribute4" type="xs:string" />
			<xs:element name="customAttribute5" type="xs:string" />
			<xs:element name="customAttribute6" type="xs:string" />
			<xs:element name="customAttribute7" type="xs:string" />
			<xs:element name="customAttribute8" type="xs:string" />
			<xs:element name="customAttribute9" type="xs:string" />
			<xs:element name="customAttribute10" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- AppRole Get all  -->
	<xs:element name="AppRoleGetAllRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppRoleGetAllResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppRole" type="tns:AppRoleResponse"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppRole Get  -->
	<xs:element name="AppRoleGetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppRoleGetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppRole" type="tns:AppRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppRole Delete  -->
	<xs:element name="AppRoleDelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppRoleDelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppRole Post  -->
	<xs:element name="AppRolePostRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="description" type="xs:string" />
				<xs:element name="isActive" type="xs:boolean" />
				<xs:element name="isSystemRole" type="xs:boolean" />
				<xs:element name="createdBy" type="xs:int" />
				<xs:element name="updatedBy" type="xs:int" />
				<xs:element name="createdAt" type="xs:dateTime" />
				<xs:element name="updatedAt" type="xs:dateTime" />
				<xs:element name="customAttribute1" type="xs:string" />
				<xs:element name="customAttribute2" type="xs:string" />
				<xs:element name="customAttribute3" type="xs:string" />
				<xs:element name="customAttribute4" type="xs:string" />
				<xs:element name="customAttribute5" type="xs:string" />
				<xs:element name="customAttribute6" type="xs:string" />
				<xs:element name="customAttribute7" type="xs:string" />
				<xs:element name="customAttribute8" type="xs:string" />
				<xs:element name="customAttribute9" type="xs:string" />
				<xs:element name="customAttribute10" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppRolePostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppRole" type="tns:AppRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppRole Put  -->
	<xs:element name="AppRolePutRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppRole" type="tns:AppRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppRolePutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppRole" type="tns:AppRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="Gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male" />
			<xs:enumeration value="Female" />
			<xs:enumeration value="Other" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- AppUserResponse  -->
	<xs:complexType name="AppUserResponse">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="username" type="xs:string" />
			<xs:element name="email" type="xs:string" />
			<xs:element name="passwordHash" type="xs:string" />
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="lastName" type="xs:string" />
			<xs:element name="middleName" type="xs:string" />
			<xs:element name="nickname" type="xs:string" />
			<xs:element name="dateOfBirth" type="xs:dateTime" />
			<xs:element name="gender" type="tns:Gender" />
			<xs:element name="phoneNumber" type="xs:string" />
			<xs:element name="alternatePhoneNumber" type="xs:string" />
			<xs:element name="addressLine1" type="xs:string" />
			<xs:element name="addressLine2" type="xs:string" />
			<xs:element name="city" type="xs:string" />
			<xs:element name="state" type="xs:string" />
			<xs:element name="country" type="xs:string" />
			<xs:element name="postalCode" type="xs:string" />
			<xs:element name="timeZone" type="xs:string" />
			<xs:element name="language" type="xs:string" />
			<xs:element name="profilePictureUrl" type="xs:string" />
			<xs:element name="isActive" type="xs:boolean" />
			<xs:element name="emailVerified" type="xs:boolean" />
			<xs:element name="emailVerificationToken" type="xs:string" />
			<xs:element name="emailVerificationTokenExpiry" type="xs:dateTime" />
			<xs:element name="phoneNumberVerified" type="xs:boolean" />
			<xs:element name="phoneNumberVerificationToken" type="xs:string" />
			<xs:element name="phoneNumberVerificationTokenExpiry" type="xs:dateTime" />
			<xs:element name="lastLogin" type="xs:dateTime" />
			<xs:element name="failedLoginAttempts" type="xs:int" />
			<xs:element name="accountLocked" type="xs:boolean" />
			<xs:element name="accountLockReason" type="xs:string" />
			<xs:element name="accountLockDate" type="xs:dateTime" />
			<xs:element name="twoFactorEnabled" type="xs:boolean" />
			<xs:element name="twoFactorSecret" type="xs:string" />
			<xs:element name="twoFactorRecoveryCodes" type="xs:string" />
			<xs:element name="createdAt" type="xs:dateTime" />
			<xs:element name="updatedAt" type="xs:dateTime" />
			<xs:element name="customAttribute1" type="xs:string" />
			<xs:element name="customAttribute2" type="xs:string" />
			<xs:element name="customAttribute3" type="xs:string" />
			<xs:element name="customAttribute4" type="xs:string" />
			<xs:element name="customAttribute5" type="xs:string" />
			<xs:element name="customAttribute6" type="xs:string" />
			<xs:element name="customAttribute7" type="xs:string" />
			<xs:element name="customAttribute8" type="xs:string" />
			<xs:element name="customAttribute9" type="xs:string" />
			<xs:element name="customAttribute10" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- AppUser Get all  -->
	<xs:element name="AppUserGetAllRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGetAllResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUser" type="tns:AppUserResponse"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUser Get  -->
	<xs:element name="AppUserGetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUser" type="tns:AppUserResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUser Delete  -->
	<xs:element name="AppUserDelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserDelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUser Post  -->
	<xs:element name="AppUserPostRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" />
			<xs:element name="email" type="xs:string" />
			<xs:element name="passwordHash" type="xs:string" />
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="lastName" type="xs:string" />
			<xs:element name="middleName" type="xs:string" />
			<xs:element name="nickname" type="xs:string" />
			<xs:element name="dateOfBirth" type="xs:dateTime" />
			<xs:element name="gender" type="tns:Gender" />
			<xs:element name="phoneNumber" type="xs:string" />
			<xs:element name="alternatePhoneNumber" type="xs:string" />
			<xs:element name="addressLine1" type="xs:string" />
			<xs:element name="addressLine2" type="xs:string" />
			<xs:element name="city" type="xs:string" />
			<xs:element name="state" type="xs:string" />
			<xs:element name="country" type="xs:string" />
			<xs:element name="postalCode" type="xs:string" />
			<xs:element name="timeZone" type="xs:string" />
			<xs:element name="language" type="xs:string" />
			<xs:element name="profilePictureUrl" type="xs:string" />
			<xs:element name="isActive" type="xs:boolean" />
			<xs:element name="emailVerified" type="xs:boolean" />
			<xs:element name="emailVerificationToken" type="xs:string" />
			<xs:element name="emailVerificationTokenExpiry" type="xs:dateTime" />
			<xs:element name="phoneNumberVerified" type="xs:boolean" />
			<xs:element name="phoneNumberVerificationToken" type="xs:string" />
			<xs:element name="phoneNumberVerificationTokenExpiry" type="xs:dateTime" />
			<xs:element name="lastLogin" type="xs:dateTime" />
			<xs:element name="failedLoginAttempts" type="xs:int" />
			<xs:element name="accountLocked" type="xs:boolean" />
			<xs:element name="accountLockReason" type="xs:string" />
			<xs:element name="accountLockDate" type="xs:dateTime" />
			<xs:element name="twoFactorEnabled" type="xs:boolean" />
			<xs:element name="twoFactorSecret" type="xs:string" />
			<xs:element name="twoFactorRecoveryCodes" type="xs:string" />
			<xs:element name="createdAt" type="xs:dateTime" />
			<xs:element name="updatedAt" type="xs:dateTime" />
			<xs:element name="customAttribute1" type="xs:string" />
			<xs:element name="customAttribute2" type="xs:string" />
			<xs:element name="customAttribute3" type="xs:string" />
			<xs:element name="customAttribute4" type="xs:string" />
			<xs:element name="customAttribute5" type="xs:string" />
			<xs:element name="customAttribute6" type="xs:string" />
			<xs:element name="customAttribute7" type="xs:string" />
			<xs:element name="customAttribute8" type="xs:string" />
			<xs:element name="customAttribute9" type="xs:string" />
			<xs:element name="customAttribute10" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserPostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUser" type="tns:AppUserResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUser Put  -->
	<xs:element name="AppUserPutRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUser" type="tns:AppUserResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserPutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUser" type="tns:AppUserResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserGroupResponse  -->
	<xs:complexType name="AppUserGroupResponse">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="userId" type="xs:string" />
			<xs:element name="groupId" type="xs:string" />
			<xs:element name="createdAt" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- AppUserGroup Get all  -->
	<xs:element name="AppUserGroupGetAllRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGroupGetAllResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserGroup" type="tns:AppUserGroupResponse"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserGroup Get  -->
	<xs:element name="AppUserGroupGetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGroupGetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserGroup" type="tns:AppUserGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserGroup Delete  -->
	<xs:element name="AppUserGroupDelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGroupDelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserGroup Post  -->
	<xs:element name="AppUserGroupPostRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userId" type="xs:string" />
				<xs:element name="groupId" type="xs:string" />
				<xs:element name="createdAt" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGroupPostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserGroup" type="tns:AppUserGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserGroup Put  -->
	<xs:element name="AppUserGroupPutRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserGroup" type="tns:AppUserGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserGroupPutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserGroup" type="tns:AppUserGroupResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- AppUserRoleResponse  -->
	<xs:complexType name="AppUserRoleResponse">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="userId" type="xs:string" />
			<xs:element name="roleId" type="xs:string" />
			<xs:element name="createdAt" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- AppUserRole Get all  -->
	<xs:element name="AppUserRoleGetAllRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserRoleGetAllResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserRole" type="tns:AppUserRoleResponse"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserRole Get  -->
	<xs:element name="AppUserRoleGetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserRoleGetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserRole" type="tns:AppUserRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserRole Delete  -->
	<xs:element name="AppUserRoleDelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserRoleDelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserRole Post  -->
	<xs:element name="AppUserRolePostRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userId" type="xs:string" />
				<xs:element name="roleId" type="xs:string" />
				<xs:element name="createdAt" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserRolePostResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserRole" type="tns:AppUserRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- AppUserRole Put  -->
	<xs:element name="AppUserRolePutRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserRole" type="tns:AppUserRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppUserRolePutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppUserRole" type="tns:AppUserRoleResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
</xs:schema>